language: php

php:
  - 7.2
  - 7.3
  - 7.4

env:
  - SYMFONY_VERSION="2.1"
  - SYMFONY_VERSION="3.0"

before_script:
  - composer self-update
  - composer --version
  - composer require symfony/framework-bundle:${SYMFONY_VERSION} --no-update
  - composer install -n --dev --prefer-source

script: phpunit --coverage-text --configuration phpunit.xml.dist
